body{
     background-color: #cccccc;
     /*background-color: #f7f7f7;*/
}

img{
    width: 150px;
    height: 150px;
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    border-radius: 75px;
}

.self_photo{
    text-align:center;
}

.xu{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align:center;
}
hr{
    padding: 10px 10px 0px 5px;
    margin: 20px 0;
    line-height: 1px;
    border-left: 200px solid #ddd;
    border-right: 200px solid #ddd;
    text-align: center;
}



