@font-face {
    font-family: '博洋规范字3500';
    src: url('../Resume/字体/博洋规范字3500.eot');
    src: local('../字体/博洋规范字3500'),
    local('博洋规范字3500'),
    url('../Resume/字体/博洋规范字3500.woff') format('woff'),
    url('../Resume/字体/博洋规范字3500.ttf') format('truetype'),
    url('../Resume/字体/博洋规范字3500.svg#博洋规范字3500') format('svg');
}

body{
     background-color: #cccccc;
    font-family: 博洋规范字3500, sans-serif;
    font-size: x-large;
     /*background-color: #f7f7f7;*/
}

img{
    width: 150px;
    height: 150px;
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    border-radius: 75px;
}

.self_photo{
    text-align:center;
}

.xu{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align:center;
}
hr{
    padding: 0 10px 5px;
    margin: 10px 0;
    line-height: 1px;
    border-left: 200px solid #ddd;
    border-right: 200px solid #ddd;
    text-align: center;
    width: 90%;
}


.p3{
    /*font-weight: bold;*/
    color: #761c19;
    font-size: xx-large;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}





